@{
    ViewData["Title"] = "Home Page";

    if(User.Identity != null)
    {
        <h1 class="align-content-center">Please Login</h1>
        <div class="align-content-center">
			<p>To get the Acces of your Stock!<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"> Login here.</a></p>
        </div>
        
      
    }
}


