@model List<Item>
@{
  
    ViewData["Title"] = "Itemview";
}
<a class="btn - btn-info " asp-controller="Item" asp-action="CreateEditItem">Add new Item</a>

<div class="row mt-4">
    <div class="col-10">
		<input id="inputQuery" class="form-control " type="text" placeholder="your item" />
    </div>
    <div class="col-1">
        <button onclick="onclickSearch()" class="btn btn-info">search</button>
    </div>

</div>
<div id="partialList"></div>

<!-- Modal -->
<div class="modal fade" id="modalItem" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalTitle">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div id="modalDescription">

               </div>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script>
      


        function onClickDeleteButton(id){
            Swal.fire({
                title: 'are you sure to delete the item?',
                icon: 'error',
                showCloseButton: false,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Yes, I am'
            }).then((result) => {  
                if (result.isConfirmed) {
                    //Backend call to delete job posting by id

                    $.ajax({
                        type:"POST",
                        url:"@Url.Action("DeleteItemById")",
                        data:{id: id},
                        success: function(msg){
                            Swal.fire('Item was successfully deleted!', '', 'success').then((result) => {
                               location.reload()
                            });
                        },
                        error: function(msg){
                            Swal.fire('something went wrong!', '', 'error')
                        }
                    });

                    
                }
            })
        }

        function showItem(id){
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetItem")",
                data: { id: id },
                success: function (data) {
                  

                    $('#modalTitle').text(data.name)
                    $('#modalDescription').text(data.description)
                    $('#modalItem').modal('show')
                }
            })

           
        }
        
        $('#partialList').load("/home/GetItemPartial/");
        function onclickSearch() {
            
            
            var query = $('#inputQuery').val();
            $('#partialList').load("/home/GetItemPartial?query=" + query);

            //let table = new DataTable('#itemTable');
        }
        
    </script>
}